@import './mixins';
$mobile-470px: 470px;



nav {
    background-color: $main_color;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 82px;
    align-items: center;
    position: absolute;
    z-index: 100;
    justify-content: space-between;

    @include for-size(medium) {
        position: relative;
        display: flex;
        width: 100vw;
        height: 82px;
        flex-direction: row;
        justify-content: center;
    }


    .nav__center {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include for-size(medium) {
            width: 80%;
            flex-direction: row;
        }
    }

    .search {
        color: $mint;
        width: 43px;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-size: 40px;
        margin-top: 38px;
        transition: color .2s ease-in;
        transition: transform .2s ease-in;

        @include for-size(medium) {
            margin-top: 0;
            height: 5rem;
        }

        @media screen and (max-width: $mobile-470px) {
            font-size: 30px;
        }

        &:hover {
            color: $white;
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    .social {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        height: 23rem;
        justify-content: space-between;
        color: $mint;
        font-size: $paragraph;
        align-items: center;
        list-style: none;

        @include for-size(medium) {
            flex-direction: row;
            margin-bottom: 0;
            height: 5rem;
            width: 16rem;
        }

        @media screen and (max-width: $mobile-470px) {
            justify-content: space-evenly;
        }

        &__contact {
            writing-mode: vertical-rl;
            text-orientation: mixed;
            text-transform: uppercase;
            font-family: $font1;
            align-items: center;
            display: flex;
            letter-spacing: 4px;
            font-size: $paragraph;

            @include for-size(medium) {
                text-orientation: sideways;
                writing-mode: horizontal-tb;
            }

            @media screen and (max-width: $mobile-470px) {
                display: none;
            }
        }

        &__icon a {
            color: $mint;
            font-size: $h2;
            transition: color .2s ease-in, transform .2s ease-in;

            @media screen and (max-width: $mobile-470px) {
                font-size: 24px;
            }

            &:hover {
                color: $white;

                i {
                    transform: scale(1.2);
                }
            }


        }
    }
}