@import "./colors";
@import './backgroundSVG';
@import './font';
@import './btn';
@import './nav';
@import './apiResultsBcg';
@import './searchNavigation';
@import './customScrollbar';
@import './mixins';

$mobile-470px: 470px;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $sub_main;
    overflow: hidden;
    width: 100%;
    height: 100%;

}


.context__center {
    width: 80%;
    margin: 0 auto;
    height: 100vh;


    .header {
        font-family: $font1;
        font-size: 180px;
        font-weight: 400;
        background: rgb(0, 69, 73);
        background: linear-gradient(-90deg, rgba(0, 69, 73, .3) 1%, rgba(6, 146, 151, 0.7903536414565826) 40%, rgba(238, 238, 238, 1) 98%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 100;
        transform: translate(5%, 31%);
        width: fit-content;

        @include for-size(medium) {
            font-size: 120px;
            display: flex;
            justify-content: center;

        }

        @media screen and (max-width: 726px) {
            font-size: 90px;
            margin-top: 20px;
        }

        @media screen and (max-width: 470px) {
            font-size: 70px;
            margin-top: 90px;

        }
    }
}

.mainContent {
    display: flex;
    justify-content: center;
    height: 60%;
    margin-top: 5rem;
    justify-content: space-between;
    align-items: center;

    @include for-size(medium) {
        flex-direction: column;
        justify-content: space-around;
        height: 65%;
    }


    .mainContent__text {
        font-family: $font1;
        font-weight: 200;
        font-size: $h2;
        color: $white;
        width: 50%;
        text-align: center;
        letter-spacing: 1.5px;
        line-height: 155%;
        margin: 8% 0 0 12%;
        align-self: flex-start;

        @include for-size(medium) {
            align-self: unset;
            margin: 0;
            width: 100%;

        }

        @media screen and (max-width: 726px) {
            font-size: 20px;
        }

    }

    .illustration {
        align-self: flex-end;
        justify-self: end;
        height: 90%;
        width: 80%;
        z-index: 100;

        @include for-size(medium) {
            height: 60%;
            width: 100%;
            align-self: center;
        }

        @media screen and (max-width: $mobile-470px) {
            visibility: hidden;
        }
    }
}

.btn__github {
    @include for-size(medium) {
        margin: 90px 5% 0 0;
        padding: 7px 13px;
        font-size: 20px;
        width: fit-content;
    }
}

.fa-github {
    @include for-size(medium) {
        margin-left: 7px;
    }

    @media screen and (max-width: 530px) {
        display: none
    }
}

// CHECK IF IMG HAS ALT TAG
img:not([alt]) {
    border: 5px solid red
}